﻿<footer class="footer-section pp-widgets">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="footer-logo">
                    <img src="~/Content/greeno-theme/images/logo.png" alt="">
                </div>
                <div class="footer-info">
                    <p>
                        <b>Address: </b>Plot No. E-61, Sector 31-D, P&T Society, Korangi Industry Area, Karachi.
                    </p>
                    <p>
                        <b>PHONE: </b>021-111-473-366
                    </p>
                    <p>
                        <b>Email: </b> <a href="#">share@greenojuices.com</a>
                    </p>
                    <p>
                        <b>Website: </b> <a href="#">https://www.greenojuices.com</a>
                    </p>
                    <div class="social-links">
                        <a href="#">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-links">
                    <p class="title">
                        <b>Navigation</b>
                    </p>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">WE CARE</a>
                        </li>
                        <li>
                            <a href="#">Terms & Condititions</a>
                        </li>
                        <li>
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="#">SHIPPING AND DELIVERY</a>
                        </li>
                        <li>
                            <a href="#">FRANCHISE</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-5">
                <div class="footer-links">
                    <p class="title">
                        <b>Instagram</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="strip strip-green text-center">
        <h5 class="text">
            Copyright © 2020 greenojuices.com All Rights Reserved. Design & Developed by Webotiks.
        </h5>
    </div>
    <div class="d-none">
        <div class="copyright-reserved" style="display:block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 copyrights-widget">
                        <div class="copyright-text">
                            <i title="Copyrights" class="fas fa-copyright dont-transform text-warning"></i>
                            @Html.Raw("PP.Footer.CopyrightsMessage".LocalizedString().Replace("{application}", "<a href='" + Url.Home() + "'>" + ConfigurationsHelper.ApplicationName + "</a>").Replace("{date}", DateTime.Now.Year.ToString()))
                            <br />
                        </div>
                        <div class="payment-pic text-white">
                            <img src="~/Content/images/site/ecommerce-payment-methods.png" />
                        </div>
                    </div>
                    <div class='col-lg-12 py-2 ft-widget'>
                        <small class='text-muted' dir='ltr'>
                            <span>
                                <i class='fas fa-laptop-code text-success' title='Software'></i> Powered by <a href='https://www.ecommercemvc.com/' target='_blank'>eCommerce MVC</a>.
                            </span>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            <span>
                                Template Designed by <a class='text-primary' href='https://colorlib.com' target='_blank' rel='nofollow'>Colorlib</a>.
                            </span>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
