﻿@model eCommerce.Web.ViewModels.PageViewModel
@{
	var baseModel = Model;

	if (baseModel == null)
	{
		baseModel = new eCommerce.Web.ViewModels.PageViewModel();
	}
}

<!DOCTYPE html>
<html lang="@AppDataHelper.CurrentLanguage.ShortCode.ToLower()" @(AppDataHelper.IsRTL ? "dir=rtl" : string.Empty)>
<head>
    @Html.Partial("_MetaTags", baseModel)

    @Html.Partial("_HeaderStylesScripts")
    @RenderSection("IncludeHeaderStylesScripts", false)
    <style>
        /*Tweaks*/
        .product-style-1 .inner .info .old,
        .product-style-2 .inner .info .old {
            text-decoration: line-through;
        }

        .product-style-1 .inner .info .title,
        .product-style-2 .inner .info .title {
            width: 100%;
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .product-style-1 .inner .product-image,
        .product-style-2 .inner .product-image {
            height: 250px;
            display: flex;
            justify-content: center;
            align-items: center
        }

            .product-style-1 .inner .product-image img,
            .product-style-2 .inner .product-image img  {
                max-height: 100%;
            }

        .productListing .sidebar .sidelinks li .link,
        .productListing .sidebar .sidelinks li ul li a {
            color: #84ad55;
            padding: 8px 0;
            text-transform: uppercase;
            font-size: .87em;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-height: 51px;
        }
        .productListing .sidebar .sidelinks li .link a {
            padding: 0;
            font-size: inherit;
            border-bottom: none;
            min-height: auto;
        }
        .productListing .sidebar .sidelinks li .link .angle {
            width: 34px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .productListing .sidebar .sidelinks li .link .angle svg {
            width: 10px;
        }

        .page-item.active .page-link {
            background-color: #84ad55;
            border-color: #84ad55;
        }
        .page-item .page-link {
            box-shadow: none;
        }

        .page-link {
            color: #84ad55;
        }
            .page-link:hover {
                color: #84ad55;
            }
        .productListing .category .text {
            text-transform: capitalize;
        }
        


    </style>
</head>
<body>
    <div id="preloder">
        <div class="loader"></div>
    </div>

    @Html.Partial("_Header")

    @RenderBody()

    @Html.Partial("_Footer")
    @Html.Partial("_Variables")
    @Html.Partial("_FooterStylesScripts")
    @RenderSection("IncludeFooterStyleScripts", false)
</body>
</html>

