﻿@using eCommerce.Entities
@using eCommerce.Shared
@using eCommerce.Services
@model eCommerce.Web.ViewModels.ProductsViewModel

@if (Model != null && Model.Categories != null && Model.Categories.Count > 0)
{
    var categoriesWithChildren = CategoryHelpers.MakeCategoriesHierarchy(Model.Categories);

    <p class="title">Product Categories</p>
    <ul class="sidelinks">

        @foreach (var categoryWithChildren in categoriesWithChildren)
        {
            var category = categoryWithChildren.Category;

            var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

            var categoryNameTrimmed = (currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty).Trim().Replace(" ", "");

            <li class="@(categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0 ? "has-child" : "") ">
                <span class="link">
                    @* @Url.SearchProducts(category: category.SanitizedName, q: Model.SearchTerm) *@
                    <a class="text" href="#section@(categoryNameTrimmed.ToLower())">
                        @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                    </a>
                    @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                    {
                        <span class="angle" type="button" data-toggle="collapse" data-target="#@(categoryNameTrimmed)Collapse" aria-expanded="false" aria-controls="@(categoryNameTrimmed)Collapse">
                            <svg class="caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 284.929 284.929" xml:space="preserve"><g><path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"></path></g></svg>
                        </span>
                    }

                </span>
                @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                {
                    <div class="collapse" id="@(categoryNameTrimmed)Collapse">
                        <ul>
                            @foreach (var childCategory in categoryWithChildren.Children)
                            {
                                var currentLanguageChildCategoryRecord = childCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                                <li class="@(childCategory.ID == Model.CategoryID ? "active" : string.Empty)">
                                    @* @Url.SearchProducts(category: childCategory.SanitizedName) *@
                                    <a href="#section@(currentLanguageChildCategoryRecord != null ? currentLanguageChildCategoryRecord.Name.Trim().Replace(" ", "").ToLower() : string.Empty)">
                                        @(currentLanguageChildCategoryRecord != null ? currentLanguageChildCategoryRecord.Name : string.Empty)
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </li>



        }


        @*<li class="has-child">
                <a class="link">
                    <span class="text">Juices</span>
                    <span class="angle" type="button" data-toggle="collapse" data-target="#juiceCollapse" aria-expanded="false" aria-controls="juiceCollapse">
                        <svg class="caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 284.929 284.929" xml:space="preserve">
                        <g>
                        <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"></path>
                                                    </g>
                                                </svg>
                    </span>
                </a>
                <div class="collapse" id="juiceCollapse">
                    <ul>
                        <li>
                            <a href="#">Simple One</a>
                        </li>
                        <li>
                            <a href="#">Fruit Blend</a>
                        </li>
                        <li>
                            <a href="#">HEALTHY BLENDS</a>
                        </li>
                        <li>
                            <a href="#">THE DETOX LINE</a>
                        </li>
                        <li>
                            <a href="#">COOLERS</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="has-child">
                <a class="link">
                    <span class="text">Smoothies</span>
                    <span class="angle" type="button" data-toggle="collapse" data-target="#SmoothiesCollapse" aria-expanded="false" aria-controls="SmoothiesCollapse">
                        <svg class="caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 284.929 284.929" xml:space="preserve">
                        <g>
                        <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"></path>
                                                    </g>
                                                </svg>
                    </span>
                </a>
                <div class="collapse" id="SmoothiesCollapse">
                    <ul>
                        <li>
                            <a href="#">MILKSHAKES</a>
                        </li>
                        <li>
                            <a href="#">DAIRY CLASSICS</a>
                        </li>
                        <li>
                            <a href="#">ALL FRUIT SMOOTHIES</a>
                        </li>
                        <li>
                            <a href="#">YOGURT SMOOTHIES</a>
                        </li>
                        <li>
                            <a href="#">SUPER SMOOTHIES</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="has-child">
                <a class="link">
                    <span class="text">Coffees</span>
                    <span class="angle" type="button" data-toggle="collapse" data-target="#CoffeesCollapse" aria-expanded="false" aria-controls="CoffeesCollapse">
                        <svg class="caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 284.929 284.929" xml:space="preserve">
                        <g>
                        <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z"></path>
                                                    </g>
                                                </svg>
                    </span>
                </a>
                <div class="collapse" id="CoffeesCollapse">
                    <ul>
                        <li>
                            <a href="#">HOT CHOCOLATE</a>
                        </li>
                        <li>
                            <a href="#">ORGANIC HOT COFFEES</a>
                        </li>
                        <li>
                            <a href="#">ORGANIC COLD COFFEES</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="link">
                    <span class="text">COLD PRESSED</span>
                </a>
            </li>
            <li>
                <a class="link">
                    <span class="text">COCO CARE</span>
                </a>
            </li>
            <li>
                <a class="link">
                    <span class="text">SAVORY</span>
                </a>
            </li>
            <li>
                <a class="link">
                    <span class="text">DESSERTS</span>
                </a>
            </li>
            <li>
                <a class="link">
                    <span class="text">FRUITS & VEGETABLES</span>
                </a>
            </li>
            <li>
                <a class="link">
                    <span class="text">SIMPLE ONES</span>
                </a>
            </li>*@
    </ul>




    @*<div class="filter-widget">
            <h4 class="fw-title">@("PP.Search.Categories".LocalizedString())</h4>
            <ul class="filter-catagories">
                <li class="@(!Model.CategoryID.HasValue ? "active" : string.Empty)">
                    <a class="@(!Model.CategoryID.HasValue ? "active" : string.Empty)" href="@Url.SearchProducts(category: string.Empty, q: Model.SearchTerm)">
                        @("PP.Search.Categories.AllCategories".LocalizedString())
                    </a>
                </li>
                @foreach (var categoryWithChildren in categoriesWithChildren)
                {
                    var category = categoryWithChildren.Category;

                    var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    <li class="@(category.ID == Model.CategoryID ? "active" : string.Empty)">
                        <div>
                            <span class="category-count @(category.ID == Model.CategoryID ? "text-white" : string.Empty)">
                                @CategoryHelpers.GetCategoryAllChildrensProductCount(category, Model.Categories)
                            </span>
                            <div class="category-item-holder @(category.ID == Model.CategoryID ? "text-white" : string.Empty)">
                                <i class="fas fa-angle-right"></i>
                            </div>
                            <a class="@(category.ID == Model.CategoryID ? "active" : string.Empty)" href="@Url.SearchProducts(category: category.SanitizedName, q: Model.SearchTerm)">
                                @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                            </a>

                            @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                            {
                                <ul class="sub-categories" style="display:block">
                                    @foreach (var childCategory in categoryWithChildren.Children)
                                    {
                                        var currentLanguageChildCategoryRecord = childCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                                        <li class="@(childCategory.ID == Model.CategoryID ? "active" : string.Empty)">
                                            <span class="category-count @(childCategory.ID == Model.CategoryID ? "text-white" : string.Empty)">
                                                @CategoryHelpers.GetCategoryAllChildrensProductCount(childCategory, Model.Categories)
                                            </span>
                                            <div class="category-item-holder @(childCategory.ID == Model.CategoryID ? "text-white" : string.Empty)">
                                                <i class="fas fa-angle-double-right"></i>
                                            </div>
                                            <a class="@(childCategory.ID == Model.CategoryID ? "active" : string.Empty)" href="@Url.SearchProducts(category: childCategory.SanitizedName)">
                                                @(currentLanguageChildCategoryRecord != null ? currentLanguageChildCategoryRecord.Name : string.Empty)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </div>
                    </li>
                }
            </ul>
        </div>*@
}