.aboutSectionOne {
    img {
        width: 100%;
    }
}
.aboutSectionTwo {
    background-image: url(../images/abt-2.jpg);
    color: white;
    .text {
        margin: 200px 0;
        h2 {
            padding: 20px;
            margin-left: -20px;
            background-image: linear-gradient(220deg, #F5BE2D00 0%, #F5BE2D 100%);
        }
    }
}
.aboutSectionThree {
    background-image: url(../images/abt-3.jpg);
    .text {
        margin: 200px 0;
        padding-right: 200px;
        h2 {
            color: #F5BE2D;
        }
        p {
            color: #79B53C;
        }
    }
}

.aboutSectionFour {
    background-image: url(../images/strip-green-image.jpg);
    .text {
        text-align: center;
        margin: 50px 0;
        padding: 0 60px;
        color: white;
    }
}

.aboutSectionFive {
    padding: 80px 0 30px;
    .image {
        overflow: hidden;
        margin-bottom: 30px;
        img {
            height: 150px;
            width: auto;
        }
    }
    a {
        font-weight: bold;
        font-size: 1.4em;
        color: #000;
        &:hover {
            color: #000;
        }
    }
    .item {
        margin-bottom: 50px;
    }
}

.aboutSectionSix {
    padding: 100px 0 70px;
    box-shadow: 0px 0px 26px -6px rgba(0,0,0,.5);
    position: relative;
    z-index: 9999;
    .title {
        margin-bottom: 40px;
    }
    .image {
        margin-bottom: 30px;
    }
}