.careerSectionOne {
    img {
        width: 100%;
    }
}

.careerSectionTwo {
    background-image: url(../images/career-banner-1.jpg);
    color: white;
    .text {
        margin: 100px 0;
        h1 {
            color: #FEBD00;
        }
    }
}

.careerSectionThree {
    background-image: url(../images/home-sec-banner-01.jpg);
    background-size: cover;
    padding: 100px 0px 50px;
    .inner {
        margin-bottom: 50px;
        .title {
            display: block;
            margin-bottom: 10px;
        }
    }
    a.text-primary {
        color: #84ad55 !important;
        :hover {
            color: #84ad55 !important;
        }
    }
}

.careerSectionFour {
    margin: 100px 0;
}