.coldpressedSectionOne {
    img {
        width: 100%;
    }
}
.coldpressedSectionTwo {
    background-image: url(../images/coldpress-banner.jpg);
    color: #08A940;
    .text {
        margin: 250px 0 250px;
        p {
            color: #08A940;
        }
    }
}
.coldpressedSectionThree {
    padding: 100px 0;
    .text {
        margin-bottom: 50px;
    }
}

.coldpressedSectionFour {
    padding: 0 0 100px;
    .text {
        margin-bottom: 50px;
    }
}