.navbar {
    padding-bottom: 20px;
}
.navbar-brand {
    width: 185px;
    align-self: center;
    margin-bottom: -37px;
    padding-bottom: 0;
}
.navbar-nav {
    text-transform: uppercase;
    .nav-item {
        margin: 0 14px;
        position: relative;
        .nav-link {
            padding-left: 0;
            padding-right: 0;
            font-size:  0.875em;
            font-weight: 500;
            color: #696969;
            position: relative;
            &::before {
                position: absolute;
                content: '';
                top: calc(50% + 8px);
                left: 1px;
                right: 1px;
                border-top: 1px solid;
                transform: scale(0,1);
                transition: all .3s ease;
            }
            &:hover {
                color: #84ad55;
                &::before {
                    background-color: #84ad55;
                    transform: scale(1,1);
                }
            }
            .caret {
                width: .7em;
                transform: translateY(-2px) translateX(5px);
            }
        }
        .sub-menu {
            list-style: none;
            border-radius: 6px;
            position: absolute;
            background-color: #fff;
            box-shadow: 0 4px 10px rgba(0,0,0,0.2);
            opacity: 0;
            pointer-events: none;
            top: calc(100% + 20px);
            left: -30px;
            transition: .3s ease all;
            width: 230px;
            padding: 10px 0;
            z-index: 999;
            .sub-menu {
                top: 0;
                left: calc(100% + 20px);
            }
            li {
                margin: 0 20px;
                position: relative;
                a {
                    display: flex;
                    padding: 10px 26px;
                    color: #222;
                    font-size: 14px;
                    justify-content: space-between;
                    align-items: center;
                    &:hover {
                        color: #84ad55;
                        text-decoration: none;
                    }
                }
                &:not(:last-child) {
                    a {
                        border-bottom: 1px solid #e5e5e5;
                    }
                }
                &.has-child {
                    a {
                        .caret {
                            width: 8px;
                            fill: #595959;
                            transform: rotate(-90deg);
                            transition: .3s ease all;
                        }
                    }
                    &:hover {
                        a {
                            .caret {
                                transform: rotate(-0deg);
                            }
                        }
                    }
                }
            }
            > li:hover {
                z-index: 9;
                .sub-menu {
                    opacity: 1;
                    left: 100%;
                    pointer-events: all;
                }
            }

            
            
        }

        &:hover {
            > .sub-menu {
                opacity: 1;
                top: 100%;
                pointer-events: all;
            }
        }

        &.active {
            .nav-link {
                &::before {
                    transform: scale(1,1);
                }
            }
        }
    }
}

.navbar-links {
    .top-icons {
        display: flex;
        list-style: none;
        li {
            padding: 10px 10px 0;
            margin-bottom: -5px;
            a {
                text-decoration: none;
            }
            .icon {
                font-size: 24px;
                color: #84ad55;
            }
            &.cart-icon {
                .icon {
                    font-size: 36px;
                    position: relative;
                    top: -5px;
                    .count {
                        position: absolute;
                        bottom: -4px;
                        left: calc(100% - 17px);
                        min-width: 20px;
                        background-color: #84ad55;
                        font-family: 'Josefin Sans', sans-serif;
                        color: #fff;
                        text-align: center;
                        font-size: 14px;
                        line-height: 18px;
                        font-weight: 600;
                        border-radius: 90px;
                        padding: 1px 3px 0px;
                        z-index: 1;
                        text-decoration: none!important;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            &:hover {
                .icon {
                    opacity: .7;
                }
            }
        }
    }
}


footer {
    padding: 100px 0 0;
    background-color: #F8F8F8;
    position: relative;
    z-index: 999;
    .footer-logo {
        margin-bottom: 30px;
        img {
            width: 190px;
        }
    }
    .footer-info {
        padding-right: 150px;
        p {
            color: #666666;
            b {
                color: #019444;
                text-transform: uppercase;
            }
            a {
                color: #666666;
                &:hover {
                    color: #84ad55;
                }
            }
        }
        .social-links {
            display: flex;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                background-color: #84ad55;
                border-radius: 100%;
                margin-right: 10px;
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .strip {
        margin-top: 60px;
        h5 {
            font-size: 16px;
        }
    }
    .footer-links {
        padding-top: 20px;
        .title {
            color: #019444;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                padding: 5px 0;
            }
            a {
                color: #666666;
                &:hover {
                    color: #84ad55;
                }
            }
        }
    }
}