.subsciptionSectionOne {
    img {
        width: 100%;
    }
}
.subsciptionSectionTwo {
    margin: 80px 0;
    .heading-style-two-one {
        margin: 20px 0;
    }
    .heading-style-two-two {
        margin: 20px 0;
    }
}