.homeSectionOne {
    .banner {
        position: relative;
        background-image: url(../images/banner.jpg);
        height: 600px;
        .inner {
            position: absolute;
            width: 200px;
        }
    }
}

.homeSectionTwo {
    padding: 50px 0;
    .heading {
        margin-bottom: 50px;
    }
    .menu-links {
        margin-bottom: 50px;
    }
}

.homeSectionThree {
    padding: 20px 0;
    background-color: #fafafa;
    .heading {
        margin-bottom: 50px;
    }
    .custom-tabs {
        .nav-pills {
            margin-bottom: 50px;
        }
    }
}

.homeSectionFour {
    padding: 100px 0;
    background-color: #fafafa;
    .heading {
        margin-bottom: 50px;
    }
}

.homeSectionFive {
    padding: 100px 0;
}