.outletSectionOne {
    background-image: url(../images/outlet-banner-scaled.jpg);
    min-height: 200px;
}
.outletSectionTwo {
    padding: 100px 0 100px;
    .map {
        margin-bottom: 70px;
        .innerMap {
            height: 330px;
            border-radius: 10px;
            border: 8px solid #8FC641;
            margin-bottom: 30px;
        }
        .title {
            font-size: 1.2em;
        }
        .desc {
            color: #666666;
        }
    }
}