.detailSectionOne {
    padding: 100px 0;
    background-image: url(../images/wecater-corporate-bg.jpg) !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}