.product-style-1 {
    text-align: center;
    .inner {
        position: relative;
        overflow: hidden;
        background-color: white;
        .quick-view {
            display: flex;
            height: 50px;
            width: 50px;
            position: absolute;
            color: #222222;
            right: 0;
            font-size: 22px;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            transform: translateX(102%);
            transition: 0.15s transform ease-in;
            text-decoration: none;
            top: 15px;
            z-index: 9;
            .c-tooltip {
                position: absolute;
                font-size: 14px;
                white-space: nowrap;
                right: 100%;
                color: white;
                background: #181818;
                padding: 2px 7px;
                transform: translateX(-5px);
                opacity: 0;
                pointer-events: none;
                transition: 0.15s opacity ease-in;
            }
            &:hover {
                background: #84ad55;
                color: white;
                .c-tooltip {
                    opacity: 1;
                }
            }
            
        }
        .product-image {
            padding: 0 30px;
            overflow: hidden;
            img {
                transform: scale(1);
                transition: 0.15s transform ease-in;
            }
        }
        .info {
            background-color: #ffffff3d;
            margin-bottom: -53px;
            padding: 15px;
            transition: 0.15s all ease-in;
            .price {
                margin-bottom: 10px;
            }
            .title {
                text-decoration: none;
                color: #333;
                :hover {
                    color: #84ad55;
                }
            }
            .btn {
                text-transform: uppercase;
            }
        }
    }
    &:hover {
        .inner {
            .quick-view {
                transform: translateX(-10px);
            }
            .product-image {
                img {
                    transform: scale(1.1);
                }
            }
            .info {
                background-color: #ffffff;
                transform: translateY(-53px);
            }
        }
    }
}

.product-style-2 {
    text-align: center;
    border: 1px solid #e6e6e6;
    .inner {
        position: relative;
        overflow: hidden;
        background-color: white;
        .top-left-bar {
            position: absolute;
            right: 0;
            transform: translateX(102%);
            transition: 0.15s transform ease-in;
            top: 15px;
            z-index: 9;

        } 
        .quick-view {
            display: flex;
            height: 50px;
            width: 50px;
            color: #222222;
            font-size: 22px;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            transition: 0.15s transform ease-in;
            text-decoration: none;
            background: #fff;
            .c-tooltip {
                position: absolute;
                font-size: 14px;
                white-space: nowrap;
                right: 100%;
                color: white;
                background: #181818;
                padding: 2px 7px;
                transform: translateX(-5px);
                opacity: 0;
                pointer-events: none;
                transition: 0.15s opacity ease-in;
            }
            &:hover {
                background: #84ad55;
                color: white;
                .c-tooltip {
                    opacity: 1;
                }
            }
            &.select-options {
                background: #84ad55;
                color: #fff;
                margin-top: 5px;
            }
        }
        .product-image {
            padding: 0 10px;
            overflow: hidden;
            img {
                transform: scale(1);
                transition: 0.15s transform ease-in;
            }
        }
        .info {
            background-color: #ffffff3d;
            // margin-bottom: -53px;
            padding: 15px;
            transition: 0.15s all ease-in;
            .price {
                margin-bottom: 10px;
            }
            .title {
                text-decoration: none;
                color: #333;
                :hover {
                    color: #84ad55;
                }
            }
            .btn {
                text-transform: uppercase;
            }
        }
    }
    &:hover {
        .inner {
            .top-left-bar {
                transform: translateX(-10px);
            }
            .product-image {
                img {
                    transform: scale(1.1);
                }
            }
            .info {
                // background-color: #ffffff;
                // transform: translateY(-53px);
            }
        }
    }
}