*, ul {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

html {
    overflow: auto;
}

img {
    height: auto;
    max-width: 100%;
}

@media (min-width: 1200px) {
    .container {
        max-width:1170px;
    }
    .modal-lg, .modal-xl {
        max-width: 910px;
    }
}

@media (min-width: 1470px) {
    .container {
        max-width: 1440px;
    }
}