.strip {
    padding: 15px;
    .text {
        margin-bottom: 0;
    }
    &.strip-green {
        background-color: #83AC2B;
        color: white;
        a {
            color: white;
        }
    }
}

.btn {
    outline: none;
}

.btn-rounded {
    border-radius: 100px;
}

.btn-green {
    background: #84ad55;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
        background: #84ad55bb;
        color: white;
    }
    &.btn-hover-outline {
        border: 1px solid #84ad55;
        &:hover {
            background: rgba(255, 255, 255, 0.445);
            color: #84ad55;
        }
    }
}

.btn-green-dark {
    background: #08A940;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
        background: #08a940d5;
        color: white;
    }
}

.btn-curved {
    border-radius: 0 11px;
    padding: 11px 30px;
}
.productListing {
    .sidebar {
        padding-right: 30%;
        .title {
            font-size: 1.2em;
            font-weight: bold;
        }
        .sidelinks {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                a {
                    color: #84ad55;
                    padding: 8px 0px;
                    text-transform: uppercase;
                    font-size: 0.87em;
                    border-bottom: 1px solid #eee;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    min-height: 51px;
                    .angle {
                        width: 34px;
                        height: 34px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        svg {
                            width: 10px;
                        }
                        &:hover {
                            background: #efefef66;
                            border: 1px solid #eee;
                        }
                    }
                }
                ul {
                    list-style: none;
                    li {
                        padding-left: 40px;
                        a {
                            padding: 15px 0px;
                        }
                    }
                }
                &.has-child {
                    a {
                        // padding-right: 40px;
                    }
                }
            }
        }
    }
    .banner {
        margin-bottom: 60px;
    }
    .category {
        margin-bottom: 80px;
        .text {
            margin-bottom: 50px;
        }
        .item {
            margin-bottom: 30px;
        }
    }
}

.product-detail {
    .productImages {
        .main-image {
            border: 1px solid #e6e6e6;
            margin-bottom: 30px;
            position: relative;
            .expand {
                position: absolute;
                right: 10px;
                top: 10px;
                font-size: 30px;
                color: #666;
                z-index: 999;
                :hover {
                    color: #84ad55;
                }
            }
        }
        .image {
            img {
                margin: 0 auto;
            }
        }
        .thumb-image {
            margin: 0 -10px;
            .slick-track {
                .image {
                    margin: 0 10px;
                    border: 1px solid #e6e6e6;
                }
            }
        }
    }
    .product-detail-info {
        &.spaced {
            padding-left: 50px;
        }
        .percentage-badge {
            .percent {
                position: relative;
                left: auto;
                top: auto;
            }
        }
        .price {
            .current-price {
                font-weight: bolder;
            }
            .old-price {
                font-weight: normal;
                text-decoration: line-through;
                color: #888;
            }
        }
        .variation {
            .opt {
                display: flex;
                align-items: center;
                margin-bottom: 15px;
                select {
                    padding: 8px 20px 8px 34px;
                    border-radius: 0px !important;
                    border: 1px solid;
                    box-shadow: none;
                    margin: 5px 0 5px 15px;
                    color: #222;
                    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAFBAMAAABlfdtYAAAAElBMVEUAAAAAAAAAAAAAAAAAAAAAAADgKxmiAAAABnRSTlMAmcwRiCK19YmuAAAAH0lEQVQI12MIYWBgFmAwAiNmRWZFBgYGIyEBIAliAgAeOQGsDcSFWgAAAABJRU5ErkJggg==);
                    background-repeat: no-repeat;
                    background-position: right 20px center;
                    background-size: 8px auto;
                    padding-inline-end: 40px;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 24px;
                    background-color: #fff;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-align: start;
                }
            }
        }
        .cta {
            margin-bottom: 30px;
            .btn {
                height: 40px;
                border-radius: 0;
                margin-left: 10px;
            }
        }
        .bordered-box {
            border: 1px solid #69696985;
            padding: 10px;
            margin-bottom: 20px;
            table {
                width: 100%;
                tr {
                    td {
                        width: 50%;
                        padding: 3px 0;
                    }
                    td:nth-child(2) {
                        text-align: right;
                    }
                }
            }
        }
        .light-bordered-box {
            border-top: 1px solid #e5e5e5;
            border-bottom: 1px solid #e5e5e5;
            padding: 19px 0;
            margin-bottom: 20px;
            margin: 60px 0;
            p {
                margin-bottom: 0;
            }
        }
        
    }
    .related-title {
        margin-bottom: 30px;
    }
}
.product-detail-modal {
    .close {
        position: relative;
        z-index: 9;
    }
}

.bold {font-weight: bolder;}

.owl-dots-hidden .owl-dots{
    display: none;
}

span.badge.badge-sale {
    padding: 4px !important;
    background-color: #84ad55 !important;
    color: #fff !important;
    position: absolute;
    z-index: 10;
    left: 0 !important;
    font-size: 14px !important;
    border-radius: 0px !important;
    margin-bottom: 10px;
}

.product-carousel {
    .owl-nav {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-top: 0;
        width: 100%;
        height: 40px;
        button.owl-prev,
        button.owl-next {
            width: 40px;
            height: 40px;
            margin: 0;
            line-height: 40px !important;
            border-radius: 100%;
            position: absolute;
            background-color: #d2d2d2;
            transition: 0.15s all ease-in;
            span {
                font-size: 40px !important;
                color: white;
            }
        }
        button.owl-prev {
            right: 100%;
            transform: scale(0) translateX(-20px);
        }
        button.owl-next {
            transform: scale(0) translateX(20px);
            left: 100%;
        }
    }
    &:hover {
        button.owl-prev {
            transform: scale(1) translateX(-20px);
        }
        button.owl-next {
            transform: scale(1) translateX(20px);
        }
    }
}

.tab-style-1 {
    .nav-pills
    {
        display: flex;
        justify-content: center;
        .nav-link {
            background: transparent;
            color: #666666;
            border: 2px solid #84ad55;
            border-radius: 0;
            &:hover, &.active {
                background: #84ad55;
                color: white;
            }
        }
        .nav-item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
        .show>.nav-link {
            background: #84ad55;
            color: white;
        }
    }
}

.background-section {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.uppercase {
    text-transform: uppercase;
}

.text-primary {
    color: #83AC2B !important;
}
a.text-primary {
    color: #83AC2B !important;
    :hover {
        color: #83AC2B !important;
    }
}

.text-dull {
    color: #666 !important;
}
a.text-dull {
    color: #666 !important;
}

.form-style-1 {
    .form-control {
        box-shadow: 0 0 0 1px #ccc inset;
        font-size: 14px;
        line-height: 24px;
        padding: 8px 20px;
        height: auto;
        background-color: #fff;
        border-radius: 0!important;
        outline: 0;
        margin: 0;
        text-align: start;
        &:focus {
            box-shadow: 0 0 0 1px #84ad55 inset!important;
        }
    }
    select.form-control {
        padding: 11.5px 20px;
    }
    &.green-fields {
        .form-control {
            box-shadow: 0 0 0 1px #13af30 inset;
        }
    }
}


#menu-icons a:before {
    content: " "!important;
    width: 115px!important;
    height: 150px!important;
    display: block!important;
    background: url(../images/menuimage.png);
}

#menu-icons #juice a:before {
    background-position: -10px -36px!important;
}

#menu-icons #juice:hover a:before {
    background-position: -10px -249px!important;
}

#menu-icons #smoothies a:before {
    background-position: -164px -36px;
}

#menu-icons #smoothies:hover a:before {
    background-position: -165px -248px!important;
}

#menu-icons #coffees a::before {
    background-position: -300px -38px;
}

#menu-icons #coffees:hover a::before {
    background-position: -300px -251px!important;
}

#menu-icons #cold-pressed:hover a::before {
    background-position: -446px -249px!important;
}

#menu-icons #cold-pressed a::before {
    background-position: -446px -36px;
}

#menu-icons #coco-care:hover a::before {
    background-position: -585px -249px!important;
}

#menu-icons #coco-care a::before {
    background-position: -584px -36px;
}

#menu-icons #savory:hover a::before {
    background-position: -739px -249px!important;
}

#menu-icons #savory a::before {
    background-position: -739px -36px!important;
}

#menu-icons #desserts:hover a::before {
    background-position: -900px -247px!important;
}

#menu-icons #desserts a::before {
    background-position: -900px -34px!important;
}

#menu-icons #vegetables:hover a::before {
    background-position: -1074px -248px!important;
}

#menu-icons #vegetables a::before {
    background-position: -1074px -35px!important;
}

.quantity {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    position: relative
}

.quantity .input-text::-webkit-inner-spin-button,.quantity .input-text::-webkit-outer-spin-button {
    -webkit-appearance: none
}

.quantity .input-text {
    padding-inline-start:10px;padding-inline-end:40px;font-size: 15px;
    font-weight: 600;
    color: #222;
    width: 100px;
    text-align: center;
    border-radius: 0 11px!important
}

.quantity .arrow {
    display: inline-block;
    vertical-align: top;
    position: absolute;
    right: 1px;
    width: 30px;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
    z-index: 1;
    border-inline-start:1px solid #e6e6e6;text-decoration: none
}

.quantity .arrow:not(:hover) {
    color: #222
}

.quantity .minus {
    bottom: 1px
}

.quantity .plus {
    top: 1px
}

.quantity .input-text{
	padding: 11px 20px 5px!important;
	width: 127px;
}
.quantity .input-text {
    border-radius: 0px!important;
    border: 1px solid;
	box-shadow: none !important;
}
@-moz-document url-prefix() {
    .quantity .input-text {
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield
    }
}

// light box plugin changes 
.sl-overlay {
    background: #000;
    opacity: 0.9;
}

.sl-wrapper .sl-close {
    color: white;
}

.form-control-big {
    .form-control {
        box-shadow: 0 0 0 1px #13af30 inset;
        height: 63px!important;
        outline: none!important;
        padding: 0 30px!important;
        font-size: 20px!important;
        margin-bottom: 10px;
        :focus {
            box-shadow: 0 0 0 1px #84ad55 inset!important;
        }
    }
    textarea.form-control {
        padding: 20px 30px !important;
        height: auto!important;
    }
    .btn {
        width: 100%;
        height: 63px;
        font-weight: bolder;
        font-size: 20px;
    }
}

.contactInfo {
    text-align: center;
    .inner {
        margin-bottom: 60px;
    }
    .icon {
        margin-bottom: 25px;
        i {
            color: #12AF2F;
            font-size: 50px;
        }
    }
    p {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #222;
    }
}

.contactInfoLinks {
    // text-align: left;
    a {
        text-decoration: none;
        background-color: #FFFFFF;
        border-style: solid;
        border-color: #12AF2F;
        border-radius: 100%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        width: 50px;
        height: 50px;
        i {
            color: #12AF2F;
        }
    }
}

.heading-style-two {
    .text {
        background-color: #12AF2F;
        color: #fff;
        width: 220px;
        padding: 10px;
        border-radius: 10px 0px;
        text-align: center;
        font-size: 20px;
        margin-bottom: 0;
    }
}

.heading-style-three {
    .text {
        display: inline-block;
        background-color: #10af2f;
        color: #fff;
        font-weight: bold;
        font-size: 20px;
        padding: 20px;
        position: relative;
        margin-bottom: 40px;
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 64px 0 0 30px;
            border-color: transparent transparent transparent #10af2f;
            position: absolute;
            left: 100%;
            top: 0;
        }
    }
}

.background-formarea {
    background-image: url(../images/home-sec-banner-01.jpg);
    background-size: contain;
    padding: 40px 50px;
    table {
        width: 100%;
        td,th {
            width: 33.333333%;
            padding: 10px 25px;
        }
    }
}

.tittle-txt {
    text-align: center;
	padding-top: 20px;
    font-size: 1.25em;
    span {
        font-size: 2.5em;
        color: #12AF2F;
    }
}

.relatedProductsSidebar {
    text-align: center;
    .relatedProductBox {
        margin-left: auto;
        .oldprice {
            text-decoration: line-through;
        }
    }
}

.ff_fileupload_wrap {
    height: calc(100% - 1rem);
    .ff_fileupload_dropzone_wrap {
        height: 100%;
        .ff_fileupload_dropzone {
            height: 100%;
            border: 2px dashed #10af2f !important;
            border-radius: 0px;
        }
        &::before {
            content: 'Drag & Drop Files Here';
            position: absolute;
            z-index: 9;
            width: 100%;
            text-align: center;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            font-size: 1.625em;
            font-weight: bolder;
        }
    }
}