.wecaterSectionOne {
    img {
        width: 100%;
    }
}
.wecaterSectionTwo {
    background-image: url(../images/we-care1.jpg);
    color: white;
    text-align: center;
    .text {
        margin: 350px 0 300px;
        h2 {
            color: #FFCD00;
        }
    }
}

.wecaterSectionThree {
    background-image: url(../images/we-care2.jpg);
    color: #85C441;
    // text-align: center;
    .text {
        margin: 250px 0;
        a {
            color: #85C441;
        }
    }
}

.wecaterSectionFour {
    background-image: url(../images/we-care3.jpg);
    color: #F99925;
    // text-align: center;
    .text {
        margin: 250px 0;
        a {
            color: #F99925;
        }
    }
    .images {
        img {
            width: 120px;
        }
    }
}