﻿@using eCommerce.Entities
@using eCommerce.Shared
@model eCommerce.Web.ViewModels.ProductsViewModel

@{
    Html.RenderPartial("SearchFilters/_ListingFilters", Model);
}


@if (Model.Products != null && Model.Products.Count > 0)
{

    @*@{
            Html.RenderPartial("", Model);
        }*@

    var categoriesWithChildren = CategoryHelpers.MakeCategoriesHierarchy(Model.Categories);

    foreach (var n_category in categoriesWithChildren)
    {
        if (n_category.Children != null && n_category.Children.Count > 0)
        {
            <div class="sub-categories-wrap" id="section@(n_category.Category.SanitizedName.Trim().Replace(" ", "").Replace("-", "").ToLower())">
                @foreach (var n_subcategory in n_category.Children)
                {
                <div class="category" id="section@(n_subcategory.SanitizedName.Trim().Replace(" ", "").Replace("-", "").ToLower())">
                    <h3 class="text">@(n_subcategory.SanitizedName)</h3>
                    <div class="row">
                        @foreach (var n_products in n_subcategory.Products)
                        {

                            var currentLanguageProductRecord = n_products.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                            var currentLanguageProductCategoryRecord = n_products.Category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                            var sanitizedSEOTitle = AppDataHelper.CurrentLanguage.ShortCode == LanguagesHelper.EnglishLanguageShortCode && currentLanguageProductRecord != null ? currentLanguageProductRecord.Name.SanitizeLowerString() : string.Empty;

                            var detailsLink = Url.ProductDetails(category: n_products.Category.SanitizedName, ID: n_products.ID, sanitizedtitle: sanitizedSEOTitle);

                            var productPrice = n_products.Discount.HasValue && n_products.Discount.Value > 0 ? n_products.Discount.Value : n_products.Price;

                            var thumbnail = PictureHelper.GetProductThumbnail(n_products.ProductPictures, n_products.ThumbnailPictureID);

                            <div class="col-md-3">
                                <div class="item product-style-2">
                                    <div class="inner">
                                        <span class="percent badge badge-sale">@( 100 - Convert.ToInt32((@productPrice/ n_products.Price) * 100) )% OFF</span>
                                        <div class="top-left-bar">
                                            <a href="@detailsLink" class="quick-view">
                                                <span class="main-icon-eye"></span>
                                                <span class="c-tooltip">Quick View</span>
                                            </a>
                                            <a data-id="@n_products.ID" data-price="@n_products.Price" class="quick-view select-options btnAddToCart">
                                                <span class="main-icon-eye"></span>
                                                <span class="c-tooltip">Select option</span>
                                            </a>
                                        </div>
                                        <div class="product-image">
                                            @Html.Thumbnail(picture: thumbnail, targetSize: 160, seoTitle: sanitizedSEOTitle, classes: "m-auto", alt: currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                        </div>
                                        <div class="info">
                                            <a href="@detailsLink" class="title">
                                                <span>@(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)</span>
                                            </a>
                                            <div class="price">
                                                <span class="current">@productPrice.WithCurrency()</span>
                                                <span class="old">@n_products.Price.WithCurrency()</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                }
            </div>
        }
        else
        {
            <div class="category" id="section@(n_category.Category.SanitizedName.Trim().Replace(" ", "").Replace("-", "").ToLower())">
                <h3 class="text">@(n_category.Category.SanitizedName)</h3>
                <div class="row">
                    @foreach (var n_products in n_category.Category.Products)
                    {

                        var currentLanguageProductRecord = n_products.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                        var currentLanguageProductCategoryRecord = n_products.Category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                        var sanitizedSEOTitle = AppDataHelper.CurrentLanguage.ShortCode == LanguagesHelper.EnglishLanguageShortCode && currentLanguageProductRecord != null ? currentLanguageProductRecord.Name.SanitizeLowerString() : string.Empty;

                        var detailsLink = Url.ProductDetails(category: n_products.Category.SanitizedName, ID: n_products.ID, sanitizedtitle: sanitizedSEOTitle);

                        var productPrice = n_products.Discount.HasValue && n_products.Discount.Value > 0 ? n_products.Discount.Value : n_products.Price;

                        var thumbnail = PictureHelper.GetProductThumbnail(n_products.ProductPictures, n_products.ThumbnailPictureID);

                        <div class="col-md-3">
                            <div class="item product-style-2">
                                <div class="inner">
                                    <span class="percent badge badge-sale">@( 100 - Convert.ToInt32((@productPrice/ n_products.Price) * 100) )% OFF</span>
                                    <div class="top-left-bar">
                                        <a href="@detailsLink" class="quick-view">
                                            <span class="main-icon-eye"></span>
                                            <span class="c-tooltip">Quick View</span>
                                        </a>
                                        <a data-id="@n_products.ID" data-price="@n_products.Price" class="quick-view select-options btnAddToCart">
                                            <span class="main-icon-eye"></span>
                                            <span class="c-tooltip">Select option</span>
                                        </a>
                                    </div>
                                    <div class="product-image">
                                        @Html.Thumbnail(picture: thumbnail, targetSize: 160, seoTitle: sanitizedSEOTitle, classes: "m-auto", alt: currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                    </div>
                                    <div class="info">
                                        <a href="@detailsLink" class="title">
                                            <span>@(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)</span>
                                        </a>
                                        <div class="price">
                                            <span class="current">@productPrice.WithCurrency()</span>
                                            <span class="old">@n_products.Price.WithCurrency()</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    }


    <!--<div class="category">
        <h3 class="text">-->@*@(currentLanguageCategoryRecord.Name)*@
        <!--</h3>

            <div class="row">
                @foreach (var product in Model.Products)
                {
                    var currentLanguageProductRecord = product.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var currentLanguageProductCategoryRecord = product.Category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var sanitizedSEOTitle = AppDataHelper.CurrentLanguage.ShortCode == LanguagesHelper.EnglishLanguageShortCode && currentLanguageProductRecord != null ? currentLanguageProductRecord.Name.SanitizeLowerString() : string.Empty;

                    var detailsLink = Url.ProductDetails(category: product.Category.SanitizedName, ID: product.ID, sanitizedtitle: sanitizedSEOTitle);

                    var productPrice = product.Discount.HasValue && product.Discount.Value > 0 ? product.Discount.Value : product.Price;

                    var thumbnail = PictureHelper.GetProductThumbnail(product.ProductPictures, product.ThumbnailPictureID);




                    <div class="col-md-3">
                        <div class="item product-style-2">
                            <div class="inner">
                                <span class="percent badge badge-sale">@( 100 - Convert.ToInt32((@productPrice/ @product.Price) * 100) )% OFF</span>
                                <div class="top-left-bar">
                                    <a href="@detailsLink" class="quick-view">
                                        <span class="main-icon-eye"></span>
                                        <span class="c-tooltip">Quick View</span>
                                    </a>
                                    <a data-id="@product.ID" data-price="@product.Price" class="quick-view select-options btnAddToCart">
                                        <span class="main-icon-eye"></span>
                                        <span class="c-tooltip">Select option</span>
                                    </a>
                                </div>
                                <div class="product-image">
                                    @Html.Thumbnail(picture: thumbnail, targetSize: 160, seoTitle: sanitizedSEOTitle, classes: "m-auto", alt: currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                </div>
                                <div class="info">
                                    <a href="@detailsLink" class="title">
                                        <span>@(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)</span>
                                    </a>
                                    <div class="price">
                                        <span class="current">@productPrice.WithCurrency()</span>
                                        <span class="old">@product.Price.WithCurrency()</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                }
            </div>
        </div>-->




        if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            @*<div class="product-list-pagination">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pageination">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    @if (Model.Pager.CurrentPage == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link disabled" href="#">
                                                <i class="fas fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.SearchProducts(category: Model.CategoryName, q: Model.SearchTerm, pageNo: Model.Pager.CurrentPage - 1, from: Model.PriceFrom, to: Model.PriceTo, recordSize: Model.PageSize, sortby: Model.SortBy)">
                                                <i class="fas fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }

                                    @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                                    {
                                        var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;

                                        <li class="page-item @active">
                                            <a class="page-link" href="@Url.SearchProducts(category: Model.CategoryName, q: Model.SearchTerm, pageNo: page, from: Model.PriceFrom, to: Model.PriceTo, recordSize: Model.PageSize, sortby: Model.SortBy)">
                                                @page
                                            </a>
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link disabled">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.SearchProducts(category: Model.CategoryName, q: Model.SearchTerm, pageNo: Model.Pager.CurrentPage + 1, from: Model.PriceFrom, to: Model.PriceTo, recordSize: Model.PageSize, sortby: Model.SortBy)">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>*@
        }
    }
    else
    {
        <div class="alert alert-warning m-0" role="alert">
            @("PP.Search.ProductsNotFound".Localized())
        </div>
    }






@*@if (Model.Products != null && Model.Products.Count > 0)
    {
        <div class="product-list">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    var currentLanguageProductRecord = product.ProductRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var currentLanguageProductCategoryRecord = product.Category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                    var sanitizedSEOTitle = AppDataHelper.CurrentLanguage.ShortCode == LanguagesHelper.EnglishLanguageShortCode && currentLanguageProductRecord != null ? currentLanguageProductRecord.Name.SanitizeLowerString() : string.Empty;

                    var detailsLink = Url.ProductDetails(category: product.Category.SanitizedName, ID: product.ID, sanitizedtitle: sanitizedSEOTitle);

                    var productPrice = product.Discount.HasValue && product.Discount.Value > 0 ? product.Discount.Value : product.Price;

                    var thumbnail = PictureHelper.GetProductThumbnail(product.ProductPictures, product.ThumbnailPictureID);

                    <div class="col-lg-3 col-sm-6">
                        <div class="product-item">
                            <div class="pi-pic" data-href="@detailsLink">
                                @Html.Thumbnail(picture: thumbnail, targetSize: 160, seoTitle: sanitizedSEOTitle, classes: "m-auto", alt: currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                @if (product.isFeatured)
                                {
                                    <div class="featured">
                                        @("PP.Search.Products.Featured".Localized())
                                    </div>
                                }
                                <ul class="itemCartHolder">
                                    <li class="w-icon active"><a href="@detailsLink" title="@("PP.Shopping.ViewProduct".Localized())"><i class="fas fa-eye"></i></a></li>
                                    <li class="w-icon active"><a title="@("PP.Shopping.AddToCart".Localized())" data-id="@product.ID" data-price="@product.Price" class="pointerCursor btnAddToCart"><i class="fas fa-cart-plus"></i></a></li>
                                </ul>
                            </div>
                            <div class="pi-text">
                                <a class="catagory-name" href="@Url.SearchProducts(category: product.Category.SanitizedName)">@(currentLanguageProductCategoryRecord != null ? currentLanguageProductCategoryRecord.Name : string.Empty)</a>
                                <div class="product-price ltr-dir">
                                    @if (product.Discount.HasValue && product.Discount.Value > 0)
                                    {
                                        <span>
                                            @product.Price.WithCurrency()
                                        </span>
                                    }
                                    @productPrice.WithCurrency()
                                </div>
                                <a href="@detailsLink">
                                    <h5>
                                        @(currentLanguageProductRecord != null ? currentLanguageProductRecord.Name : string.Empty)
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

        if (Model.Pager != null && Model.Pager.TotalPages > 1)
        {
            <div class="product-list-pagination">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="pageination">
                            <nav>
                                <ul class="pagination justify-content-center">
                                    @if (Model.Pager.CurrentPage == 1)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link disabled" href="#">
                                                <i class="fas fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.SearchProducts(category: Model.CategoryName, q: Model.SearchTerm, pageNo: Model.Pager.CurrentPage - 1, from: Model.PriceFrom, to: Model.PriceTo, recordSize: Model.PageSize, sortby: Model.SortBy)">
                                                <i class="fas fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                    }

                                    @for (int page = Model.Pager.StartPage; page < Model.Pager.EndPage + 1; page++)
                                    {
                                        var active = page == Model.Pager.CurrentPage ? "active" : string.Empty;

                                        <li class="page-item @active">
                                            <a class="page-link" href="@Url.SearchProducts(category: Model.CategoryName, q: Model.SearchTerm, pageNo: page, from: Model.PriceFrom, to: Model.PriceTo, recordSize: Model.PageSize, sortby: Model.SortBy)">
                                                @page
                                            </a>
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage == Model.Pager.EndPage)
                                    {
                                        <li class="page-item disabled">
                                            <a class="page-link disabled">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href="@Url.SearchProducts(category: Model.CategoryName, q: Model.SearchTerm, pageNo: Model.Pager.CurrentPage + 1, from: Model.PriceFrom, to: Model.PriceTo, recordSize: Model.PageSize, sortby: Model.SortBy)">
                                                <i class="fas fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="alert alert-warning m-0" role="alert">
            @("PP.Search.ProductsNotFound".Localized())
        </div>
    }*@
