﻿@model eCommerce.Web.ViewModels.PageViewModel


@{
    if (Model != null)
    {
        Model.PageTitle = "PP.Home.Title".LocalizedString();
        Model.PageDescription = "PP.Home.Description".LocalizedString();
        Model.PageURL = Url.Home();
        Model.PageImageURL = PictureHelper.PageImageURL("home.jpg");

        Html.RenderAction("HomeSliders", "Home");
        Html.RenderAction("OurMenuCategories", "Categories");
        Html.RenderAction("FeaturedCategories", "Categories", new { recordSize = 3, isForHomePage = true });
        Html.RenderAction("ProductsByFeaturedCategories", "Categories", new { recordSize = 7 });
    }
}

@*<section class="homeSectionFour text-center">
    <div class="container">
        <div class="heading">
            <img src="~/Content/greeno-theme/images/head_img.png" alt="">
            <h2>
                Best Sellers
            </h2>
        </div>
        <div class="owl-carousel owl-theme owl-dots-hidden product-carousel">
            <div class="item product-style-1">
                <div class="inner">
                    <span class="percent badge badge-sale">30% OFF</span>
                    <a href="#" class="quick-view">
                        <span class="main-icon-eye"></span>
                        <span class="c-tooltip">Quick View</span>
                    </a>
                    <div class="product-image">
                        <img src="~/Content/greeno-theme/images/silm-fest-1.png" alt="">
                    </div>
                    <div class="info">
                        <a href="#" class="title">
                            <span>Slim Fest</span>
                        </a>
                        <div class="price">
                            <span class="current">224.00 Rs</span>
                            <span class="old">320.00 Rs</span>
                        </div>
                        <button class="btn btn-rounded btn-green">Select Options</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<section class="homeSectionFive">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <img src="~/Content/greeno-theme/images/1-2.png" alt="">
            </div>
            <div class="col-12 col-md-4">
                <img src="~/Content/greeno-theme/images/2-2.png" alt="">
            </div>
            <div class="col-12 col-md-4">
                <img src="~/Content/greeno-theme/images/3-2.png" alt="">
            </div>
        </div>
    </div>
</section>


@*<div class="container-fluid my-4 pb-4">
        <div class="row">
            <div class="col-lg-12">
                <div class="loading-more">
                    <i class="fas fa-search"></i>
                    <a href="@Url.SearchProducts()">
                        @("PP.Home.SearchMoreProducts".LocalizedString())
                    </a>
                </div>
            </div>
        </div>
    </div>*@

@if (true)
{
    @*<section class="latest-blog spad py-0">
        <div class="benefit-items">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <i class="fas fa-shipping-fast"></i>
                            </div>
                            <div class="sb-text">
                                <h6>@("PP.Home.Showcase.FastDelivery".LocalizedString())</h6>
                                <p>@("PP.Home.Showcase.OnTimeDelivery".LocalizedString())</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit">
                            <div class="sb-icon">
                                <i class="fas fa-headset"></i>
                            </div>
                            <div class="sb-text">
                                <h6>@("PP.Home.Showcase.247Support".LocalizedString())</h6>
                                <p>@("PP.Home.Showcase.AlwaysReadyToHelp".LocalizedString())</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="single-benefit border-0">
                            <div class="sb-icon">
                                <i class="fas fa-user-shield"></i>
                            </div>
                            <div class="sb-text">
                                <h6>@("PP.Home.Showcase.SecurePayments".LocalizedString())</h6>
                                <p>@("PP.Home.Showcase.SecurePaymentOptions".LocalizedString())</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="partner-logo" title="@("PP.Home.Showcase.OurPartners".LocalizedString())">
        <div class="container">
            <div class="logo-carousel owl-carousel">
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/templates/fashi/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/templates/fashi/img/logo-carousel/logo-2.png" alt="">
                    </div>
                </div>
                <div class="logo-item">
                    <div class="tablecell-inner">
                        <img src="~/Content/templates/fashi/img/logo-carousel/logo-1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>*@
}


@section IncludeFooterStyleScripts {
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 30,
            nav: true,
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
    </script>
}