﻿@model CategoriesMenuViewModel


@if (Model != null && Model.CategoryWithChildrens != null && Model.CategoryWithChildrens.Count > 0)
{

    <a class="nav-link" href="@Url.SearchProducts("")">
        Online Order
        <svg class="caret" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1"
             viewBox="0 0 284.929 284.929" xml:space="preserve">
        <g>
        <path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z" />
                                    </g>
                                </svg>
    </a>
    <ul class="sub-menu">
        @foreach (var categoryWithChildren in Model.CategoryWithChildrens)
        {
            var category = categoryWithChildren.Category; var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);
            <li class="@(categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0 ? "has-child" : "")">
                <a href="@Url.SearchProducts("")">
                    @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)

                    @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                    {
                        <svg class="caret" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" viewBox="0 0 284.929 284.929" xml:space="preserve"><g><path d="M282.082,76.511l-14.274-14.273c-1.902-1.906-4.093-2.856-6.57-2.856c-2.471,0-4.661,0.95-6.563,2.856L142.466,174.441   L30.262,62.241c-1.903-1.906-4.093-2.856-6.567-2.856c-2.475,0-4.665,0.95-6.567,2.856L2.856,76.515C0.95,78.417,0,80.607,0,83.082   c0,2.473,0.953,4.663,2.856,6.565l133.043,133.046c1.902,1.903,4.093,2.854,6.567,2.854s4.661-0.951,6.562-2.854L282.082,89.647   c1.902-1.903,2.847-4.093,2.847-6.565C284.929,80.607,283.984,78.417,282.082,76.511z" /></g></svg>
                    }
                </a>

                @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                {
                    <ul class="sub-menu">
                        @foreach (var childCategory in categoryWithChildren.Children)
                        {
                            var currentLanguageChildCategoryRecord = childCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                            <li>
                                <a href="@Url.SearchProducts("")">
                                    @(currentLanguageChildCategoryRecord != null ? currentLanguageChildCategoryRecord.Name : string.Empty)
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }

    </ul>




    @*<div class="nav-depart">
            <div class="depart-btn">
                <i class="fas fa-bars"></i>
                <span>@("PP.Header.Menu.Categories".Localized())</span>
                <ul class="depart-hover">
                    @foreach (var categoryWithChildren in Model.CategoryWithChildrens)
                    {
                        var category = categoryWithChildren.Category;

                        var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                        <li>
                            <a href="@Url.SearchProducts(category.SanitizedName)">
                                @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)

                                @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                                {
                                    <i class="fas fa-angle-double-right ml-1 text-black-50"></i>
                                }
                            </a>

                            @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                            {
                                <ul class="sub-menu">
                                    @foreach (var childCategory in categoryWithChildren.Children)
                                    {
                                        var currentLanguageChildCategoryRecord = childCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                                        <li>
                                            <a href="@Url.SearchProducts(childCategory.SanitizedName)">
                                                @(currentLanguageChildCategoryRecord != null ? currentLanguageChildCategoryRecord.Name : string.Empty)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>*@
}