﻿@model CategoriesMenuViewModel



@if (Model != null && Model.CategoryWithChildrens != null && Model.CategoryWithChildrens.Count > 0)
{

    <section class="homeSectionTwo text-center">
        <div class="container">
            <div class="heading">
                <img src="~/Content/greeno-theme/images/head_img.png" alt="">
                <h2>
                    Our Menu
                </h2>
            </div>
            <div class="row menu-links" id="menu-icons">


                @foreach (var categoryWithChildren in Model.CategoryWithChildrens)
                {
                    var category = categoryWithChildren.Category; var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);


                    <div class="col" id="@(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)">
                        <a href="@Url.SearchProducts(category.SanitizedName)" class="text-primary">
                            @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                        </a>
                    </div>
                }





                @*<div class="col" id="juice">
                    <a href="#"></a>
                </div>
                <div class="col" id="smoothies">
                    <a href="#"></a>
                </div>
                <div class="col" id="coffees">
                    <a href="#"></a>
                </div>
                <div class="col" id="cold-pressed">
                    <a href="#"></a>
                </div>
                <div class="col" id="coco-care">
                    <a href="#"></a>
                </div>
                <div class="col" id="savory">
                    <a href="#"></a>
                </div>
                <div class="col" id="desserts">
                    <a href="#"></a>
                </div>
                <div class="col" id="vegetables">
                    <a href="#"></a>
                </div>*@
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/Content/greeno-theme/images/slider-banner-1.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/Content/greeno-theme/images/Banner-Greeno-Inside-9b.png" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>





    @*<div class="nav-depart">
            <div class="depart-btn">
                <i class="fas fa-bars"></i>
                <span>@("PP.Header.Menu.Categories".Localized())</span>
                <ul class="depart-hover">
                    @foreach (var categoryWithChildren in Model.CategoryWithChildrens)
                    {
                        var category = categoryWithChildren.Category;

                        var currentLanguageCategoryRecord = category.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                        <li>
                            <a href="@Url.SearchProducts(category.SanitizedName)">
                                @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)

                                @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                                {
                                    <i class="fas fa-angle-double-right ml-1 text-black-50"></i>
                                }
                            </a>

                            @if (categoryWithChildren.Children != null && categoryWithChildren.Children.Count > 0)
                            {
                                <ul class="sub-menu">
                                    @foreach (var childCategory in categoryWithChildren.Children)
                                    {
                                        var currentLanguageChildCategoryRecord = childCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                                        <li>
                                            <a href="@Url.SearchProducts(childCategory.SanitizedName)">
                                                @(currentLanguageChildCategoryRecord != null ? currentLanguageChildCategoryRecord.Name : string.Empty)
                                            </a>
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>*@
}