﻿@model eCommerce.Web.ViewModels.ProductsByFeaturedCategoriesViewModel

@if (Model != null && Model.Categories != null && Model.Categories.Count > 0)
{





    <section class="homeSectionThree text-center">
        <div class="container">
            <div class="heading">
                <img src="~/Content/greeno-theme/images/head_img.png" alt="">
                <h2>
                    Featured Products
                </h2>
            </div>













            <div class="custom-tabs tab-style-1">


                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                    @{
                        var count = 0;
                    }
                    @foreach (var featuredCategory in Model.Categories)
                    {
                        var currentLanguageCategoryRecord = featuredCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                        var products = featuredCategory.Products != null ? featuredCategory.Products.Where(x => !x.IsDeleted && x.IsActive).OrderByDescending(x => x.ModifiedOn).Take(8).ToList() : null;


                        @*<div class="col-lg-8">
                                @if (products != null && products.Count > 0)
                                {
                                    Html.RenderPartial("_ProductsSlider", products);
                                }
                                else
                                {
                                    <div class="alert alert-warning m-0" role="alert">
                                        @("PP.Search.ProductsNotFound".Localized())
                                    </div>
                                }
                            </div>*@
                    var CategoryName = (currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty);
                        <li class="nav-item">
                            <a class="nav-link @( count == 0 ? "active" : "" )" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : null))" id="pills-@CategoryName.Trim().Replace(" ", "")-tab" data-toggle="pill" href="#pills-@CategoryName.Trim().Replace(" ", "")"
                               role="tab" aria-controls="pills-@CategoryName.Trim().Replace(" ", "")" aria-selected="true">
                                @CategoryName
                            </a>
                        </li>

                        count++;
                    }
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    @{
                        count = 0;
                    }
                    @foreach (var featuredCategory in Model.Categories)
                    {
                        var currentLanguageCategoryRecord = featuredCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

                        var products = featuredCategory.Products != null ? featuredCategory.Products.Where(x => !x.IsDeleted && x.IsActive).OrderByDescending(x => x.ModifiedOn).Take(8).ToList() : null;
                        
                        
                        var CategoryName = (currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty);
                        
                        <div class="tab-pane fade @( count == 0 ? "show active" : "" )" id="pills-@CategoryName.Trim().Replace(" ", "")" role="tabpanel" aria-labelledby="pills-@CategoryName.Trim().Replace(" ", "")-tab">
                            @if (products != null && products.Count > 0)
                            {
                                <div class="owl-carousel owl-theme owl-dots-hidden product-carousel">
                                    @{
                                        Html.RenderPartial("_ProductsSlider", products);
                                    }
                                </div>
                            }
                            else
                            {
                                <div class="alert alert-warning m-0" role="alert">
                                    @("PP.Search.ProductsNotFound".Localized())
                                </div>
                            }
                        </div>

                        @*<div class="col-lg-8">

                            </div>*@

                        count++;
                    }
                </div>
            </div>
        </div>
    </section>




    @*foreach (var featuredCategory in Model.Categories)
        {
            var currentLanguageCategoryRecord = featuredCategory.CategoryRecords.FirstOrDefault(x => x.LanguageID == AppDataHelper.CurrentLanguage.ID);

            var products = featuredCategory.Products != null ? featuredCategory.Products.Where(x => !x.IsDeleted && x.IsActive).OrderByDescending(x => x.ModifiedOn).Take(8).ToList() : null;

            <section class="@(reverse ? "reverse-banner" : "forward-banner") spad">
                <div class="container-fluid px-0">
                    <div class="row">
                        @if (reverse)
                        {
                            <div class="col-lg-8">
                                @if (products != null && products.Count > 0)
                                {
                                    Html.RenderPartial("_ProductsSlider", products);
                                }
                                else
                                {
                                    <div class="alert alert-warning m-0" role="alert">
                                        @("PP.Search.ProductsNotFound".Localized())
                                    </div>
                                }
                            </div>
                            <div class="col-lg-4" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : null))">
                                <div class="product-large set-bg d-flex justify-content-center align-items-center" data-setbg="@Html.PictureSource(picture: featuredCategory.Picture, defaultPic: "site/default-bg.jpg")">
                                    <div>
                                        <h2>
                                            @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                        </h2>
                                        <a href="@Url.SearchProducts(category:featuredCategory.SanitizedName)">@("PP.Home.FeaturedCategories.DiscoverMoreProducts".Localized())</a>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-4" title="@("PP.Home.FeaturedCategories.BrowseCategoryProducts".LocalizedString().Replace("{category}", currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty))">
                                <div class="product-large set-bg d-flex justify-content-center align-items-center" data-setbg="@Html.PictureSource(picture: featuredCategory.Picture, defaultPic: "site/default-bg.jpg")">
                                    <div>
                                        <h2>
                                            @(currentLanguageCategoryRecord != null ? currentLanguageCategoryRecord.Name : string.Empty)
                                        </h2>
                                        <a href="@Url.SearchProducts(category:featuredCategory.SanitizedName)">@("PP.Home.FeaturedCategories.DiscoverMoreProducts".Localized())</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                @if (products != null && products.Count > 0)
                                {
                                    Html.RenderPartial("_ProductsSlider", products);
                                }
                                else
                                {
                                    <div class="alert alert-warning m-0" role="alert">
                                        @("PP.Search.ProductsNotFound".Localized())
                                    </div>
                                }
                            </div>
                        }
                    </div>
                </div>
            </section>

            reverse = !reverse;
        }*@
}